<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/index.css">
  <link rel="stylesheet" href="../styles/push.css">
</head>
<body>
  <main class="contents">
    <header>
      <h1>シンプルページ</h1>
      <a href="../index.html">トップへ戻る</a>
    </header>
    <div class="item">
      <div>
        <button type="button" class="btn btn-outline-primary su">button</button>
      </div>

      <textarea name="html" id="" cols="30" rows="10">
<div>
  <button type="button" class="btn btn-outline-primary su">button</button>
</div>
      </textarea>
      <textarea name="css" id="" cols="30" rows="10">
.su{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition-property: transform;
}
.su:hover {
  font-size: 24px;
  transition: all 0.2s ease-out;
}
.su-outline-primary:hover, .su-outline-primary:active {
background-color:#fff !important;
color:#007bff !important;
}
.su-outline-primary.focus, .su-outline-primary:focus {
  box-shadow: 0 0 0 0rem rgba(0,123,255,.5) !important;
}
.su.focus, .su:focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0,123,255,.25) !important;
}
      </textarea>
    </div>
    <div class="item">
      <div>
        <p class="sd">Push!</p>
      </div>
      <textarea name="html" id="" cols="30" rows="10">
<div>
  <p class="sd">Push!</p>
</div>
      </textarea>
      <textarea name="css" id="" cols="30" rows="10">
p{
  background-color: red;
  color: white;
  border: solid 1px black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

p:hover {
  font-size: 13px;/*変化前16px*/
  line-height: 40px;/*変化前50px*/
  height: 40px;
  width: 40px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
      </textarea>
    </div>
    <div class="item">
      <div>
        <button class="hover-1 btn btn-outline-primary">button</button>
      </div>
      <textarea name="html" id="" cols="30" rows="10">
<button class="hover-1 btn btn-outline-primary">button</button>
      </textarea>
      <textarea name="css" id="" cols="30" rows="10">
.hover-1:hover {
  box-shadow : 0 0 8px black;
  transition: all 0.2s ease-out;
}</textarea>
    </div>
    
    <div class="item">
      <div>
        <button class="bgc button btn btn-outline-primary">button</button>
      </div>
      <textarea name="html" id="" cols="30" rows="10">
<button class="bgc button btn btn-outline-primary">button</button>
      </textarea>
      <textarea name="css" id="" cols="30" rows="10">
.bgc:hover {
  color: white !important;
  background-color: #007bff !important;
}
      </textarea>
    </div>
    
    <div class="item">
      <div>
        <p type="button" class="down">Push!</p>
      </div>
      <textarea name="html" id="" cols="30" rows="10">
<p type="button" class="down">Push!</p>
      </textarea>
      <textarea name="css" id="" cols="30" rows="10">
.down{
  background-color: red;
  color: white;
  border: solid 1px black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

.down:hover {
  margin-top: 1px;
}
      </textarea>
    </div>
    
    <div class="item">
      <div>
        <p class ="rittai btn btn-outline-primary">button</p>
      </div>
      <textarea name="html" id="" cols="30" rows="10">
<p class ="rittai btn btn-outline-primary">button</p>
      </textarea>
      <textarea name="css" id="" cols="30" rows="10">
.rittai:hover {
  box-shadow: 2px 2px 0 #007bff;
  transition: all 0.2s ease-out;
}
      </textarea>
    </div>
  </main>

</body>
</html>
