<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="../styles/index.css">
  <link rel="stylesheet" href="../styles/simple.css">
</head>
<body>
  <main class="contents">
    <header>
      <h1>インパクトページ</h1>
      <a href="../index.html">トップへ戻る</a>
    </header>
    <div class="item">
      <p class="down btn btn-outline-primary">button</p>
      <textarea name="html" id="" cols="30" rows="10">
<p class="down btn btn-outline-primary">button</p>
      </textarea>
      <textarea name="css" id="" cols="30" rows="10">
.down:hover {
  margin-top: 3px;
  transition: all 0.2s ease-out;
}
      </textarea>
    </div>

    <div class="item">
      <button type="button" class="oln btn btn-outline-primary">button</button>
      <textarea name="html" id="" cols="30" rows="10">
<button type="button" class="oln btn btn-outline-primary">button</button>
      </textarea>
      <textarea name="css" id="" cols="30" rows="10">
.oln:hover {
  border: none;
}
      </textarea>
    </div>

    <div class="item">
      <button type="button" class="sd btn btn-outline-primary">button</button>
      <textarea name="html" id="" cols="30" rows="10">
<button type="button" class="sd btn btn-outline-primary">button</button>
      </textarea>
      <textarea name="css" id="" cols="30" rows="10">
.sd:hover {
  font-size: 14px;
  transition: all 0.2s ease-out;
}
      </textarea>
    </div>
  </main>

</body>
</html>
