/* 横幅 */
.btn:hover {
  letter-spacing: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
}

/* 背景色 */
p{
  background-color:red;
  color:white;
  border:solid 1px black;
  height:50px;
  width:50px;
  border-radius:50%;
  text-align:center;
  line-height:50px;
}
p:hover {
  background-color: white;
  color: red;
}

